$dark-cyan: hsl(185, 75%, 39%);
$dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
// neutral
$dark-gray: hsl(0, 0%, 59%);

@mixin font-heavy {
    font-weight: 700;
    color: $dark-desaturated-blue;
}

@mixin font-light {
    font-weight: 400;
    color: $dark-grayish-blue;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  height: 100vh;
  background-color: $dark-cyan;
  background-image:
    url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-position: calc(50vw - 1000px) calc(50vh - 1000px),50vw 50vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.profile_card {
    margin: auto;
    background-color: white;
    border-radius: 15px;
    width: 350px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    &__banner {
        height: 150px;
        border-radius: 15px 15px 0 0;
        background-image: url(./images/bg-pattern-card.svg);
        overflow: hidden;
    }

    &__info {
        height: 150px;
        border-bottom: 1px solid $dark-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__avatar {
        border-radius: 100%;
        border: 5px solid white;
        transform:translateY(-50%);
        margin-bottom: -50px;
    }

    &__id_box{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    &__name {
        @include font-heavy;
        margin-right: 10px;
    }

    &__age {
        @include font-light;
    }

    &__location {
        @include font-light;
        font-size: 14px;

        margin-top: 10px;
    }

    &__stats{
        height: 80px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        align-content: stretch;
    }

    &__stat {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    &__stat_num {
        @include font-heavy;
        color:  $dark-desaturated-blue;
        margin-bottom: 5px;
    }

    &__stat_name {
        @include font-light;
        font-size: 10px;
    }

}