* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  height: 100vh;
  background-color: #19a2ae;
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-position: calc(50vw - 1000px) calc(50vh - 1000px), 50vw 50vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.profile_card {
  margin: auto;
  background-color: white;
  border-radius: 15px;
  width: 350px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
}
.profile_card__banner {
  height: 150px;
  border-radius: 15px 15px 0 0;
  background-image: url(./images/bg-pattern-card.svg);
  overflow: hidden;
}
.profile_card__info {
  height: 150px;
  border-bottom: 1px solid #969696;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_card__avatar {
  border-radius: 100%;
  border: 5px solid white;
  transform: translateY(-50%);
  margin-bottom: -50px;
}
.profile_card__id_box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.profile_card__name {
  font-weight: 700;
  color: #2d3248;
  margin-right: 10px;
}
.profile_card__age {
  font-weight: 400;
  color: #6a6f81;
}
.profile_card__location {
  font-weight: 400;
  color: #6a6f81;
  font-size: 14px;
  margin-top: 10px;
}
.profile_card__stats {
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  align-content: stretch;
}
.profile_card__stat {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.profile_card__stat_num {
  font-weight: 700;
  color: #2d3248;
  color: #2d3248;
  margin-bottom: 5px;
}
.profile_card__stat_name {
  font-weight: 400;
  color: #6a6f81;
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
